In [2]:
import pandas as pd
df = pd.read_csv('data/Huye_climate_data.csv')
df.head()

         Date    T2M  PRECTOTCORR  WS2M   RH2M  ALLSKY_SFC_SW_DWN
0  1983-01-01  20.58         2.43  0.82  71.81             -999.0
1  1983-01-02  20.17         1.21  1.36  79.77             -999.0
2  1983-01-03  19.24         1.33  0.91  79.70             -999.0
3  1983-01-04  19.39         4.37  1.28  81.99             -999.0
4  1983-01-05  20.25         1.77  0.60  77.42             -999.0

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

print("✅ Environment ready!")

✅ Environment ready!